doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/public/thirdparty/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/thirdparty/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/public/css/style.css')
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/") Bacon
          div.nav-collapse
            block menu
              ul.nav
                li
                  a(href="/") Home
                li
                  a(href="/create/") Create new Dataset
                li
                  a(href="/") About
              - if (!user)
                ul.nav.pull-right
                  li(class="divider-vertical")
                  li.drop.down
                    a.dropdown-toggle(href="#",data-toggle="dropdown") Sign In <strong class="caret"></strong></a>
                    div.dropdown-menu(style="padding: 15px; padding-bottom: 5px;")
                      a.login-btn.twitter(href="/auth/twitter") via Twitter
                      a.login-btn.google(href="/auth/google") via Google
                      a.login-btn.facebook(href="/auth/facebook") via Facebook
                      a.login-btn.github(href="/auth/github") via Github

              - else
                ul.nav.pull-right
                  li
                    a(href="/logout") logout
    div.container
      block body
    script(src="/public/thirdparty/jquery-1.7.2.min.js",type="text/javascript")
    script(src="/public/thirdparty/bootstrap/js/bootstrap.js",type="text/javascript")